a:link, a:visited {
	color: #D6E3DA;
	text-decoration: none;}
a:hover, a:focus {
	color: white;
	text-decoration: none;}
#container {
	background: white;
	text-align: left;
	font-family: avenir next, helvetica, arial;}
h3 {
	text-align: center;
	font-size: 24px;
	font-family: andale mono, avenir next, helvetica;}
	}
body {
	background: #D6E3DA;}

#header {
	width: 970px;
	height: 100px;
	margin-bottom: 4px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	background: white;
	border: solid 3px black;
	font-family: avenir next, helvetica, arial;
	font-size: 20px;}

#mainContent {
	width: 970px;
	height: 250px;
	margin-bottom: 4px;
	margin-left: 50px;
	margin-right: 50px;
	background: url(Aerial01.jpg);
	text-align: center;
	font-size: 100px;
	border: solid 3px #D6E3DA;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 150px;
	color: white;}

#footer {
	width: 970px;
	height: 30px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	padding-top: 10px;
	background: white;
	border: solid 3px black;
	color: black;}
